
body {
    margin: 0;
  
}


div {
    position: relative; 
    margin-bottom: 20px;
    overflow: hidden; 
    height: 100vh; 
}


img {
    width: 100%;
}

p {
    position: absolute;
    left:0; right:0;
    top:0;
}



#div1:hover img {
    transform: scale(1.5) translateX(-200px) translateY(-100px);
        transition: all 7s;
}


#div1:hover p {
    opacity: 1;
    font-size: 48px; 

    color: white; 
    transition: all 8s;
    
}

#div1 p {
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 26px; 
    opacity: 0; 
    padding: 0.5em; 
    position: absolute; 
}


#div3 {
   position: relative;
    height: 100vh; 
    overflow: hidden; 
}

#div3:hover img {
    transform: scale(1.5) translateY(80px);
        transition: all 5s;
}

#div3:hover p {
    opacity: 1;
    font-size: 48px; 
   
    color: black; 
    transition: all 8s;
    
}

#div3 p {
    background-color: rgba(255,255,255,0.3); 
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 26px; 
    opacity: 0; 
    padding: 0.5em;   
}


#div5 p {
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 26px; 
    opacity: 0; 
    padding: 0.5em; 
}

#div5:hover img {
    transform: scale(1.8) translateX(40px) translateY(-40px);
        transition: all 8s;
}

#div5:hover p {
    opacity: 1;
    font-size: 38px; 
    padding-left: 3em;
    color: white; 
    transition: all 8s;
    background-color: rgba(0,0,0,0.3);
    
}

#div7 img {
    translateY(-40px);
}

#div7:hover img {
    transform: scale(1.2) translateX(20px) translateY(-80px);
    transition: all 7s;
}

#div7:hover p {
    opacity: 1;
    transition: all 8s;
    background-color: rgba(255,255,255,0.3);
     
}

#div7 p {
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 32px; 
    color: black; 
    opacity: 0; 
    padding: 0.5em; 
}

#div9 img {
    transform: scale(1.2) translateY(-80px);
}

#div9:hover img {
    transform: scale(1.4) translateX(-80px) translateY(-120px);
    transition: all 7s;
}

#div9:hover p {
    opacity: 1;
    transition: all 8s;
    background-color: rgba(255,255,255,0.3);  
}

#div9 p {
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 32px; 
    color: black; 
    opacity: 0; 
    padding: 0.5em; 
}

a {
    font-family: 'Exo', sans-serif, Arial; 
    font-size: 26px; 
    color: black; 
    text-decoration: none; 
}

a:hover {
    font-size: 28px; 
}
